html {
  background: url(./header.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

// body {
//   background: #f6f5f7;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   flex-direction: column;
//   font-family: 'Montserrat', sans-serif;
//   height: 100vh;
//   margin: -20px 0 50px;
// }

.landing {
  // height: 100vh;
  // width: 100wh;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.6;
  height: 100vh;
  display: grid;
  // grid-template-columns: 70px 1fr;
  // grid-template-columns: auto 8fr auto;
  grid-template-rows: 80px 1fr;
  grid-template-areas: 'landingHeader' 'landingMain';
}

.landing__main {
}

.landing__header {
  grid-area: landingHeader;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
  flex-direction: row;

  .logo__landing {
    cursor: pointer;
  }

  .nav__links a,
  .cta {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #edf0f1;
    text-decoration: none;
  }

  .nav__links {
    list-style: none;
    display: flex;
  }

  .nav__links li {
    padding: 0px 20px;
  }

  .nav__links li a {
    transition: color 0.3s ease 0s;
  }

  .nav__links li a:hover {
    color: #0088a9;
  }

  .cta {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease 0s;
  }

  .cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
  }

  /* Mobile Nav */

  .menu {
    display: none;
  }
}

// @media only screen and (max-width: 800px) {
//   .nav__links,
//   .cta {
//     display: none;
//   }
//   .menu {
//     display: initial;
//   }
// }
