.sidebar {
  grid-area: sidebar;
  // width: 200px;
  // min-width: 200px;
  background: #2c343b;
  // height: 100%;
  height: 100vh;
  overflow-x: hidden;
  z-index: 1;
  transition: all 300ms ease-in-out;

  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .menu {
    padding-right: 30px;
    margin: 0;
    transition: all 0.5s;

    li {
      div,
      a {
        color: #ecedf2;
        display: block;
        width: 100%;
        line-height: 60px;
        text-decoration: none;
        text-align: left;
        padding: 15px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-bottom: 1px;
        transition: 0.5s;
        white-space: nowrap;

        span {
          display: inline-block;
        }

        .icon {
          color: #ecedf2;
          width: 45px;
          display: inline-block;
          text-align: center;
        }

        .text {
          padding-left: 10px;
        }

        i {
          width: auto;
          display: inline-block;
          text-align: center;
        }

        &:hover,
        &:hover i,
        &.active,
        &.active i {
          background: #ecedf2;
          color: #3d5654;
        }
      }
    }
  }

  .menuTwo {
    border-top: 3px solid #ecedf2;
  }
}

.header:not(.active) ~ .sidebar {
  width: 70px;
  min-width: 70px;
  transition: all 400ms ease-in-out;

  .menu {
    overflow-x: hidden;
    z-index: 1;
  }
}
